body {
    /* background-color: #d5dbdb; */
    background-color: #dce1e1;
}

/* so we can use height: 100vh/100dvh on main options container  */
body,html {
    margin: 0;
    padding: 0;
}

.options {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;  /* need both values because */
    height: 100dvh; /* if browser doesn't support dvh, will fallback to vh above */
}

.top-controls {
    margin-top: 8px;
    margin-left: 8px;
    margin-right: 8px;
}

.bottom-controls {
    margin-bottom: 8px;
    margin-left: 8px;
    margin-right: 8px;
}






/* modal button */
.modalButton {
    position: absolute;
    background-color: transparent;
    top: 8px;
    right: 12px;
    border: none;
    font-size: 20px;
    color: #a7b1a6;
}

button.modalButton:hover {
    color: #8d9999;
}


.listModal.engaged {
    display: none;
    position: absolute;
    z-index: 1000000000;
    top: 50%;
    width: 310px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
    background-color: #597272a3;
    align-items: center; 
    justify-content: center;
    height: 90dvh;
    top: 50%;
    left: 50%;
    -ms-transform: translateY(-50%) translateX(-50%);
    transform: translateY(-50%) translateX(-50%);
    box-sizing: border-box;
    border-radius: 3px;
}

.listModal .modal_option_container {
    width: 280px;
    max-height: 75%;
    overflow: auto;
    margin-bottom: -5%;
    /* Firefox */
    scrollbar-color: #718d96 #394a54;
    scrollbar-width: thin;
}

  /* chrome et al custom scroll */
.listModal .modal_option_container::-webkit-scrollbar {
    width: 15px;
    height: 15px;
    margin-right: 20px;
} 

.listModal .modal_option_container::-webkit-scrollbar-track-piece  {
    background-color: #394a54;
    border-radius:3px;
}

.listModal .modal_option_container::-webkit-scrollbar-thumb:vertical {
    height: 30px;
    background-color: #718d96;
    border-radius:3px;
} 

.list_area .listModal li {
    background-color: #394854;
}

.list_area .listModal li:hover {
    background-color: #45575f;
}

.list_area .listModal span {
    position: absolute;
    top: 12px;
    color: #a9babb;
}
/* needs to be in media queries but maybe a daker color to emphasize the open modal window */
/*.list_area.modal_engaged {
    background-color: #42465c;
}*/

/* Gonna put the media queries for making all things smaller here */
@media screen and (max-height: 322px) {
    .options.with-list.with-toggle .list_area ul .option_container {
        max-height: 92px;
    }
}

@media screen and (max-height: 342px) { 
    /* this is where  .options.with-list.with-radio list modal turns on and the other thing turns off*/
    .options.with-list.with-radio .list_area ul li:not(:first-child) {
        display: none;
    }
    .options.with-list.with-radio .list_area ul li:first-child {
        display: block;
    }

    .options.with-list.with-radio .listModal.engaged {
        display: flex;
    }

    .options.with-list.with-radio .list_area .listModal.engaged li {
        display: block;
    }

    /* this was a :has selector solution until I realized firefox didnt support it */
    .options.with-list.with-radio .list_area.modal_engaged .list_title  {
        opacity:0;
    }

    .options.with-list.with-radio .list_area.modal_engaged .list  {
        opacity: 0;
    }
}

.options.with-list.with-radio .list_area ul .option_container {

    @media screen and (max-height: 342px) { 
        max-height: 30px;
    }

    @media screen and (min-height: 343px) and (max-height: 373px) { 
        max-height: 92px;
    }

   
    
}


@media screen and (max-height: 426px) { 
    .options.with-list.with-radio.with-toggle.with-notenav .list_area ul li:not(:first-child) {
        display: none;
    }
    .options.with-list.with-radio.with-toggle.with-notenav .list_area ul li:first-child {
        display: block;
    }

    .options.with-list.with-radio.with-toggle.with-notenav .list_area ul .option_container {
        max-height: 32px;
    }

    .options.with-list.with-radio.with-toggle.with-notenav .list_area.modal_engaged {
        background-color: #42465c;
    }

    
    /* max-height from min-height:0px is where listmodal turns on and other things turn off */
}





.options.with-list.with-radio.with-toggle.with-notenav .list_area ul .option_container {

    @media screen and (max-height: 469px) { 
        max-height: 92px; 
    }


    
}

@media screen and (max-height: 363px) { 
    /* need to downsize miscellenies */
    .options.with-list.with-radio.with-toggle.with-notenav .visual_mod_bar .option label {
        display: none;
    }

    .options.with-list.with-radio.with-toggle.with-notenav .visual_header {
        height: 30px;
        margin-bottom: 2px;
    }

    .options.with-list.with-radio.with-toggle.with-notenav .radio {
        padding-top: 5px;
        padding-bottom: 4px;
        margin-bottom: 2px;
    }

    .options.with-list.with-radio.with-toggle.with-notenav .radio_option {
        height:32px;
        line-height:32px;
    }

    .options.with-list.with-radio.with-toggle.with-notenav .note_navigator {
       margin-bottom: 2px;
    }

    .options.with-list.with-radio.with-toggle.with-notenav .toggle_container {
        margin-bottom: 2px;
     }

}

@media screen and (max-height: 316px) { 
    /* now try to get radio and toggle  */

    .options.with-list.with-radio.with-toggle.with-notenav .radtog-container {
        display: flex;
     }

     .options.with-list.with-radio.with-toggle.with-notenav .toggle_container {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        padding-top: 14px;
        padding-bottom: 13px;
        margin-bottom: 1px;
     }

     .options.with-list.with-radio.with-toggle.with-notenav .toggle_container .label {
        padding-bottom: 4px;
        align-self: end;
        width: 120px;
        margin: initial;
        text-align: center;
        transform: unset;
     }

     .options.with-list.with-radio.with-toggle.with-notenav .switch_container {
        align-self: end;
        padding-right: 40px;
     }


     .options.with-list.with-radio.with-toggle.with-notenav .visual_header {
        margin-bottom: 1px;
    }

    .options.with-list.with-radio.with-toggle.with-notenav .radio {
        margin-bottom: 1px;
    }

    .options.with-list.with-radio.with-toggle.with-notenav .note_navigator {
        margin-bottom: 1px;
     }
     
}






@media screen and (max-height: 423px) {



    .options.with-list.with-radio.with-notenav .visual_mod_bar .option label {
        display: none;
    }

    .options.with-list.with-radio.with-notenav .visual_header {
        height: 30px;
        margin-bottom: 2px;
    }

    .options.with-list.with-radio.with-notenav .radio {
        padding-top: 5px;
        padding-bottom: 4px;
        margin-bottom: 2px;
    }

    .options.with-list.with-radio.with-notenav .radio_option {
        height:32px;
        line-height:32px;
    }

    .options.with-list.with-radio.with-notenav .note_navigator {
       margin-bottom: 2px;
    }

    .options.with-list.with-radio.with-notenav .toggle_container {
        margin-bottom: 2px;
     }


}

@media screen and (max-height: 379px) { 

     .options.with-list.with-radio.with-notenav .visual_header {
        margin-bottom: 1px;
    }

    .options.with-list.with-radio.with-notenav .radio {
        margin-bottom: 1px;
    }

    .options.with-list.with-radio.with-notenav .note_navigator {
        margin-bottom: 1px;
     }
}


@media screen and (max-height: 342px) { 
    /* this is where  .options.with-list.with-radio list modal turns on and the other thing turns off*/
    .options.with-list.with-radio.with-notenav .list_area ul li:not(:first-child) {
        display: none;
    }
    .options.with-list.with-radio.with-notenav .list_area ul li:first-child {
        display: block;
    }

    .options.with-list.with-radio .list_area ul .option_container {
        max-height: 32px;
    }
    .options.with-list.with-radio .list_area.modal_engaged {
        background-color: #42465c;
    }
}

@media screen and (max-height: 426px) { 
    /* this is where  .options.with-list.with-radio list modal turns on and the other thing turns off*/
    .options.with-list.with-radio.with-toggle.with-notenav .list_area ul li:not(:first-child) {
        display: none;
    }
    .options.with-list.with-radio.with-toggle.with-notenav .list_area ul li:first-child {
        display: block;
    }

    .options.with-list.with-radio.with-toggle.with-notenav .listModal.engaged {
        display: flex;
    }
    
    .options.with-list.with-radio.with-toggle.with-notenav .list_area .listModal.engaged li {
        display: block;
    }

    /* this was a :has selector solution until I realized firefox didnt support it */
    .options.with-list.with-radio.with-toggle.with-notenav .list_area.modal_engaged .list_title  {
        opacity:0;
    }

    .options.with-list.with-radio.with-toggle.with-notenav .list_area.modal_engaged .list  {
        opacity: 0;
    }
}

@media screen and (max-height: 342px) { 
    /* this is where  .options.with-list.with-radio list modal turns on and the other thing turns off*/
    .options.with-list.with-radio.with-notenav .list_area ul li:not(:first-child) {
        display: none;
    }
    .options.with-list.with-radio.with-notenav .list_area ul li:first-child {
        display: block;
    }

    .options.with-list.with-radio.with-notenav .listModal.engaged {
        display: flex;
    }
    
    .options.with-list.with-radio.with-notenav .list_area .listModal.engaged li {
        display: block;
    }

    /* this was a :has selector solution until I realized firefox didnt support it */
    .options.with-list.with-radio.with-notenav .list_area.modal_engaged .list_title  {
        opacity:0;
    }

    .options.with-list.with-radio.with-notenav .list_area.modal_engaged .list  {
        opacity: 0;
    }
}


@media screen and (max-height: 335px) { 
    .options.with-list.with-notenav .list_area ul .option_container {
        max-height: 92px;
    }
}

@media screen and (max-height: 302px) { 
    /* this is where  .options.with-list.with-radio list modal turns on and the other thing turns off*/
    .options.with-list.with-notenav .list_area ul li:not(:first-child) {
        display: none;
    }
    .options.with-list.with-notenav .list_area ul li:first-child {
        display: block;
    }

    .options.with-list.with-notenav .list_area ul .option_container {
        max-height: 32px;
    }
    .options.with-list.with-notenav .list_area.modal_engaged {
        background-color: #42465c;
    }
    
}





@media screen and (max-height: 302px) { 
    /* this is where  .options.with-list.with-radio list modal turns on and the other thing turns off*/
    .options.with-list.with-notenav .list_area ul li:not(:first-child) {
        display: none;
    }
    .options.with-list.with-notenav .list_area ul li:first-child {
        display: block;
    }

    .options.with-list.with-notenav .listModal.engaged {
        display: flex;
    }
    
    .options.with-list.with-notenav .list_area .listModal.engaged li {
        display: block;
    }

    /* this was a :has selector solution until I realized firefox didnt support it */
    .options.with-list.with-notenav .list_area.modal_engaged .list_title  {
        opacity:0;
    }

    .options.with-list.with-notenav .list_area.modal_engaged .list  {
        opacity: 0;
    }
}






