.piano-container {
    margin-left: 8px;
    margin-right: 8px;
}

.keyboard{
    position: relative;
    margin: 0 auto;
    background-color: rgb(40, 31, 18);

    width: 100%;
    min-width: 300px;
    height: 32vw;
    height: 29vw; /* bring it to the size of freboard at viewport width === 414px */
    
    box-shadow: inset -1px 0px 11px 0px rgba(0, 0, 0, 0.75);
    
    /* padding: 5vw 5vw 0 5vw; removed to make left-right black bar case margin symmetrical */
    /* padding: 5vw 0vw 0 5vw; */ /* added to make left-right black bar case margin symmetrical */
                            /* this setting seems to work for 2 octave piano */

    /* padding: 5vw 3vw 0 5vw; this setting seems to work for 1 octave piano */
    border-radius: 2.03045vw;
    
    /* Unselectable text */
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;

    box-sizing: border-box;

    display: flex;
    padding-left: 5vw;
    padding-right: 5vw;
    padding-top: 5vw;

    max-height: 264px;
    max-width: 951px;
    
}

.keyboard li {
    background-color: white;
    padding: 0;
    list-style: none;
    position: relative;
    float: left;
  }

.key.black{
    height: 13vw;
    height: 15vw;
    width: 3.6%;
    margin: 0 0 0 0;

    /* left: -2.2%; */
    left: -1.8%;
    z-index: 2;
    border-radius: 0 0 0.1875em 0.1875em;
    box-shadow: -1px -1px 2px rgba(255,255,255,0.2) inset, 0 -5px 2px 3px rgba(0,0,0,0.6) inset, 0 2px 4px rgba(0,0,0,0.5);
    background-color: black;
    
    background:linear-gradient(45deg, #222 0%,#555 100%);

    max-height:141px;
}



.key.white{
    color: grey;
    height: 27.5vw;
    height: 25vw;
    width: 7%;
    z-index: 1;
    border-left: 1px solid #bbb;
    border-bottom: 1px solid #bbb;
    box-shadow: -1px 0 0 rgba(255,255,255,0.8) inset, 0 0 5px #ccc inset, 0 0 3px rgba(0,0,0,0.2);

    max-height: 227px;
}

.key.white:first-child {
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
}
.key.white:last-child {
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
}

.keyboard .note {
    opacity: 0;
    display:block;
    line-height: initial;
    border-radius: 50%;
    background-color: rgb(209, 129, 14);
    text-shadow: 0px 1px 2px rgb(68, 68, 68);
    box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.75);
    color: white;
    top: 70%;
    bottom: "100%";
    position: relative;
    text-align: center;
    margin: 0 auto;

    /* width: 18px;
    height: 18px;
    line-height: 18px;
    font-size: 12px; 414px conversion */

    width: 16px;
    line-height: 16px;
    height: 16px;
    font-size: 10px; 

   
    
}

.keyboard .note.visible { /* updated in fixing CSS clash between guitar and piano*/ 
    opacity: 100%;
}



.key.black .keyboardNote {
    position: absolute;
    bottom: 10%;
    height: 2.5vw;
    width: 2.5vw;
    line-height: 2.5vw;
    font-size: 1.6vw;
    border-radius: 50%;
    text-align: center;
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.75);
    color: white;
    background-color: rgb(209, 129, 14);


}



.key.white .keyboardNote {
    position: absolute;
    bottom: 10%;
    margin: 0 auto;
    height: 2.5vw;
    width: 2.5vw;

    border-radius: 50%;
    text-align: center;
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.75);
    color: white;
    background-color: rgb(209, 129, 14);

    line-height: 2.5vw;
    font-size: 2vw;
}

.keyboard.oneOctave .key.white {
    width: 14%;
    width: calc(100% / 7);
    position: relative;
}
.keyboard.oneOctave .key.black {
    width: 7.2%;
    position: absolute;
    left: -29%;
    width: 60%;
}
.keyboard.oneOctave .key.white.left {
    /* margin: 0 0 0 -7.4%; */
}


/* three octave */
.keyboard.threeOctave .key.white {
    width: calc(100% / 21);
    position: relative;

    @media screen and (max-width: 367px) { 
        /* three octave solution requires this breakpoint as it starts to break around here */
        width: calc(100% / 22.6);
    }
}

.keyboard.threeOctave .key.black {
    position: absolute;
    left: -29%;
    width: 60%;
}

.keyboard.threeOctave .key.black .note {
    top:75%;

    @media screen and (max-width: 610px) { 
        left:-1px;
        top:70%;
    }
    @media screen and (max-width: 553px) { 
        left:-2px;
    }

    @media screen and (max-width: 410px) { 
        top: 65%;
    }
}
/* /three octave */



.keyboard.twoOctave .key.black {
    width: 3.6%;
}
.keyboard.twoOctave .key.white.left {
    margin:0 0 0 -3.7%;
}
.keyboard.twoOctave .key.white .keyboardNote {
    margin-left: 25%;
}



.keyboard.twoOctave .key.white {
    /* width: 6.7%; the left-right black keyboard case margins weren't equal */
    width: calc(100% / 14);
}
.keyboard.twoOctave .key.black {
    width: 3.6%;
}
.keyboard.twoOctave .key.white.left {
    margin:0 0 0 -3.7%;
}
.keyboard.twoOctave .key.white .keyboardNote {
    margin-left: 25%;
}

.key.white.threeOctave {
    width: 4.8%;
    width: calc(100% / 21);
}
.key.black.threeOctave {
    width: 3.6%;
}
.key.white.threeOctave.left {
    margin:0 0 0 -4.2%;
}
.key.white.threeOctave .keyboardNote {
    margin-left: 6%;
}

.key.white .note{
    top:80%;
}


/* Media Queries */

/* for some reason the note marker isnt centered when the width of .key.black is so low. on max-width 521px we can abandon */
/* maybe there's a less hacky fix out there */
@media screen and (max-width: 420px) {
    .key.black .note { 
        right: 2px; 
    }
}
@media screen and (min-width: 421px) and (max-width: 520px) {
    .key.black .note { /* for some reason the note marker isnt centered when the width of .key.black is so low.  */
        right: 1px; 
    }
}


@media screen and (max-width: 460px) { 
    .keyboard .note {
        width: 14px;
        line-height: 14px;
        height: 14px;
        font-size: 9px;
    }
    .key.black .note { 
        right: 1px;
    }

   

}

@media screen and (min-width: 345px) and (max-width: 459px) {
    .key.black .note { 
        right: 1px;
    }

}

@media screen and (min-width: 300px) and (max-width: 344px) {
    .key.black .note { 
        right: 0px;
    }

}

@media screen and (min-height: 336px) and (min-width: 702px) {
    .keyboard .note {
        width: 18px;
        line-height: 18px;
        height: 18px;
        font-size: 12px;
    }
  

}

@media screen and (min-width: 854px) {
    .keyboard {
        padding-top: 43px;
        padding-left: 43px;
        padding-right: 43px;
    }

}

@media screen and (min-width: 694px) {
    .keyboard {
        border-radius: 14px;
    }

}



/* height stuff */
@media screen and  (min-width: 404px )  and (min-height: 318px) and (max-height: 335px) {
    .keyboard {
        padding-left: 25px;
        padding-right: 25px;
        padding-top: 25px; 
     }
     .keyboard.threeOctave .key.black .note {
        left:-3px;
        top: 70%;
    }
}

@media screen and (min-width: 461px ) and (min-height: 336px) and (max-height: 500px) {
   .keyboard {
    
      max-height: 166px;
      max-width: 533px; 
      padding-left: 25px;
      padding-right: 25px;
      padding-top: 25px; 
   }
   
   .key.black {
    max-height: 85px;
   }
   .key.white {
    max-height: 143px;
   } 
   /* .keyboard .note {right: 2px;} */

   .keyboard.threeOctave .key.black .note {
    left:-3px;
    top:70%;
   }

}

@media screen and (min-width: 404px ) and (min-height: 280px) and (max-height: 285px) {
    /* due to decreasing height, we are running out of space for the piano. must diminish the size of the piano */
   .keyboard {
      max-height: 120px;
      max-width: 423px;
   }
   
   .key.black {
    max-height: 60px;
   }
   .key.white {
    max-height: 99px;
   } 

}

@media screen and (min-width: 404px ) and (min-height: 280px) and (max-height: 317px) {
    /* due to decreasing height, we are running out of space for the piano. must diminish the size of the piano */
   .keyboard {
      padding-left: 25px;
      padding-right: 25px;
      padding-top: 25px;
   }
   .keyboard.threeOctave .key.black .note {
    left:-3px;
    top: 65%;
   }
}

@media screen and (min-width: 404px ) and (min-height: 286px) and (max-height: 317px) {
    /* due to decreasing height, we are running out of space for the piano. must diminish the size of the piano */
   .keyboard {
      max-height: 138px;
      max-width: 460px;
      

      max-height: 127px;
      max-width: 423px;
   }
   
   .key.black {
    max-height: 71px;
    max-height: 65px;
   }
   .key.white {
    max-height: 117px;
    max-height: 105px;
   } 
   /* .keyboard .note {right: 2px;} */

}

@media screen and (min-width: 404px ) and (min-height: 318px) and (max-height: 335px) {
    .key.black {
        max-height: 71px;
       }
       .key.white {
        max-height: 119px;
        max-height: 117px;
       }
       .keyboard {
        max-height: 138px;
        max-width: 460px;
    }
    .keyboard {
        padding-left: 25px;
        padding-right: 25px;
        padding-top: 25px; 
     }
}

@media screen and (min-width: 404px ) and (min-height: 280px) and (max-height: 335px) {
    /* due to decreasing height, we are running out of space for the piano. must diminish the size of the piano */
   .keyboard {
      padding-left: 25px;
      padding-right: 25px;
      padding-top: 25px; 
   }
   

}









@media screen  /* and (max-width: 1074px)*/ and (max-height: 383px) {
    
    .object_selection {
        height: 34px;
    }
}

@media screen and (min-height:0px) and (max-height:279px) { 
    /* dont even display the instrument */
    .piano-container {
        display: none;
    }
}











/* the part where I make the piano invisible when height gets too small (landscape stuff really) */
.options.with-list.with-radio.with-toggle.with-notenav .piano-container{
    /* most strict: has list, radio, toggle, and notenav*/

    @media screen and (max-height: 748px) and (min-width:766px) {
        display: none;
    }

    @media screen and (max-height: 709px) and (min-width: 663px) and (max-width: 765px) {
        display: none;
    }

    @media screen and (max-height: 675px) and (min-width:562px) and (max-width: 662px) {
        display: none;
    }

    @media screen and (max-height: 646px) and (min-width: 462px) and (max-width: 561px) {
        display: none;
    }

    @media screen and (max-height: 615px) and (min-width: 391px) and (max-width: 461px) {
        display: none;
    }

    @media screen and (max-height: 590px) and (min-width: 300px) and (max-width: 390px) {
        display: none;
    }
}

/* whenever we are navsearching but the secondary selection is absent so there's nothing to toggle */
.options.with-list.with-radio.with-notenav .piano-container{
    @media screen and (max-height: 711px) and (min-width:766px) {
        display: none;
    }

    @media screen and (max-height: 667px) and (min-width: 663px) and (max-width: 765px) {
        display: none;
    }

    @media screen and (max-height: 633px) and (min-width:562px) and (max-width: 662px) {
        display: none;
    }

    @media screen and (max-height: 604px) and (min-width: 462px) and (max-width: 561px) {
        display: none;
    }

    @media screen and (max-height: 573px) and (min-width: 391px) and (max-width: 461px) {
        display: none;
    }

    @media screen and (max-height: 548px) and (min-width: 300px) and (max-width: 390px) {
        display: none;
    }
}



.options.with-list.with-toggle .piano-container {
    /* has list and toggle (textsearch mode with text input provided by user) */

    @media screen and (max-height: 607px) and (min-width:766px) {
        display: none;
    }

    @media screen and (max-height: 572px) and (min-width: 663px) and (max-width: 765px) {
        display: none;
    }

    @media screen and (max-height: 539px) and (min-width:562px) and (max-width: 662px) {
        display: none;
    }

    @media screen and (max-height: 505px) and (min-width: 462px) and (max-width: 561px) {
        display: none;
    }

    @media screen and (max-height: 475px) and (min-width: 391px) and (max-width: 461px) {
        display: none;
    }

    @media screen and (max-height: 451px) and (min-width: 300px) and (max-width: 390px) {
        display: none;
    }
}

.options.with-list.with-radio .piano-container {
    /* has list and radio (settings and edit)) list assumed to be 4+ items*/
    @media screen and (max-height: 659px) and (min-width:766px) {
        display: none;
    }

    @media screen and (max-height: 627px) and (min-width: 663px) and (max-width: 765px) {
        display: none;
    }

    @media screen and (max-height: 591px) and (min-width:562px) and (max-width: 662px) {
        display: none;
    }

    @media screen and (max-height: 561px) and (min-width: 462px) and (max-width: 561px) {
        display: none;
    }

    @media screen and (max-height: 525px) and (min-width: 391px) and (max-width: 461px) {
        display: none;
    }

    @media screen and (max-height: 502px) and (min-width: 300px) and (max-width: 390px) {
        display: none;
    }
}

.options.with-list.with-notenav .piano-container {
    /* mode submenu*/
    @media screen and (max-height: 619px) and (min-width:766px) {
        display: none;
    }

    @media screen and (max-height: 561px) and (min-width: 663px) and (max-width: 765px) {
        display: none;
    }

    @media screen and (max-height: 527px) and (min-width:562px) and (max-width: 662px) {
        display: none;
    }

    @media screen and (max-height: 495px) and (min-width: 462px) and (max-width: 561px) {
        display: none;
    }

    @media screen and (max-height: 464px) and (min-width: 391px) and (max-width: 461px) {
        display: none;
    }

    @media screen and (max-height: 452px) and (min-width: 300px) and (max-width: 390px) {
        display: none;
    }
}

.options.with-list.with-notenav.with-toggle .piano-container {
    /* mode submenu*/
    @media screen and (max-height: 652px) and (min-width:766px) {
        display: none;
    }

    @media screen and (max-height: 595px) and (min-width: 663px) and (max-width: 765px) {
        display: none;
    }

    @media screen and (max-height: 565px) and (min-width:562px) and (max-width: 662px) {
        display: none;
    }

    @media screen and (max-height: 531px) and (min-width: 462px) and (max-width: 561px) {
        display: none;
    }

    @media screen and (max-height: 502px) and (min-width: 391px) and (max-width: 461px) {
        display: none;
    }

    @media screen and (max-height: 486px) and (min-width: 300px) and (max-width: 390px) {
        display: none;
    }
}

/* I'll have to add options.with-notenav.with-radio and options.with-notenav.with-radio-with-toggle  for when we dont actively have a list avaiable
 in 'navsearch' chord/scale view (right now all the settings navlists are hardcoded so they are always on) (searchGets havent yet been got) 
 -Also the 'edit' chord/scale view which, while it doesnt have a list, would have only have radio if no selection, that gets lumped in and that is fine
 (if I add another toggle, however, if there is a secondary selection then it will have a toggle as well be radio.toggle and I would need to add that     */